*{
    margin: 0;
    padding: 0;
}

.sec1Div{
    width: 100vw;
    height: 310vh;
    background-color: rgb(149, 147, 145);

    
 
}

.newDiv{

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;


    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    border-radius: 25px;
   
}

.imgcon{
    width: 10vw;
    background-color: rgb(87, 72, 72);
    display:flex;
    justify-content: center;
    align-items: center;
}

.bigbig{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20vw;
}

.thebutton{
    display: flex;
    justify-content: end;
    width: 80vw;
}

@media (max-width: 900px) {

    .sec1Div{
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 430vh;
        background-color: rgb(149, 147, 145);
    }
    
}


@media (max-width: 600px) {

    .sec1Div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 900vh;
        background-color: rgb(149, 147, 145);
    


       
    }
    
}